.counter-window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.8;


  .counter {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #29292B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 120px;
    z-index: 10;
  }
}
