.camera-window {
  width: 100%;
  height: 100%;

  video {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-app-region: drag;
    background-color: #29292B;
  }
}
