.camera-window {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #29292B;

  svg {
    color: #FFF;
  }

  video {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transform: rotateY(180deg);
  }
}
